

.auth-form-container{
    margin-top:6.25rem;
    margin-bottom: 10.3125rem;
}
.form-card{
    margin-top: 2.8125rem;
    margin-left: 13.6875rem;
    margin-right: 23.6875rem;
    margin-bottom: 10.3125rem;
    width: 38rem;
    height: 26.25rem;
}